{
    "plugins": [
      [
        "module-resolver",
        {
          "root": ["./src"],
          "alias": {
            "@components": "./components",
            "@navigations": "./navigations",
            "@redux": "./redux",
            "@screens": "./screens",
            "@styles": "./styles",
            "@utils": "./utils",
            "*": ["./types/*"]
          }
        }
      ]
    ]
}  